<h1>Balance For Life Admin</h1>

<p><a class="btn btn-primary admin-menu" href="<%= recipe_categories_path %>">CATEGOR&Iacute;AS</a></p>
<p><a class="btn btn-primary admin-menu" href="<%= recipes_path %>">RECETAS</a></p>
<p><a class="btn btn-primary admin-menu" href="#">BLOG</a></p>
