<h1>Solicitud de Contacto</h1>
<p>Este correo fue generado a trav&eacute;s del formulario de contacto del sitio web de Balance for Life</p>
<p><strong>Nombre:</strong> <%= @contact[:name] %></p>
<p><strong>Apellidos:</strong> <%= @contact[:lastname] %></p>
<p><strong>Correo electr&oacute;nico:</strong> <%= @contact[:email] %></p>
<p><strong>Mensaje:</strong></p>
<p><%= @contact[:message] %></p>
