<div class="scrollable">
  <h1>#BALANCE<em>FOR</em>LIFE</h1>

  <h2>¿QUÉ ES BALANCE FOR LIFE?</h2>

  <p>Balance For Life nace con el fin de educar y enseñar a las personas a alimentarse de una manera saludable sin sentirse obligados a estar a "dieta"- El objetivo del plan de trabajo es cambiar hábitos alimenticios a largo plazo, y lo más importante, que sean sostenibles y llevados de la mano de la fusión de la nutrición y el Health Coaching.</p>

  <p>Además se enfoca en acelerar cada metabolismo y reactivarlo, ya que con los años por dietas incorrectas, mediamentos, sedentarismo o por el mismo paso de los años, llega a deteriorarse.</p>

  <p>Es importante recordar que una buena nutrición es consecuencia de una alimentación saludable.</p>

  <h2>¿QUÉ ES HEALTH COACHING?</h2>

  <p>El Health Coaching es una rama del coaching que se especializa en acompañar y facilitar la adopción de hábitos saludables de vida. El mismo aborda la salud desde un enfoque integral incluyendo la salud física, emocional, mental, y espirutual, empleando técnicas que potencian a la persona para que desarrolle buenos hábitos alimenticios y mantenga un estilo de vida 100% saludable.</p>

  <p>Uno de los principios base del Health Coaching es la Bioindividualidad, o sea que "cada persona tiene necesidades alimenticias y de estilo de vida únicas" por tanto cada individuo es guiado de manera individual y personalizada.</p>

  <h2><em>PERFIL PROFESIONAL:</em> KARINA ARRÁZOLA</h2>

  <p><img src="/assets/karina.png"></img></p>

  <p>Karina Arrázola Castro, Doctora licenciada en Nutrición Humana con 10 años de experiencia, código #211-10. Certificada por el Institute of Integrative Nutrition (IIN) como Health Coach, reconocido a nivel mundial. Cuenta con varios congresos y cursos que le permiten brindar un mejor servicio, actualizándose continuamente por medio de seminarios, simposios, charlas y cursos del área de la nutrición.</p>

  <h2>ÁREAS DE INTERÉS Y DESARROLLO EN LA NUTRICIÓN</h2>

  <p>Síndrome metab&oacute;lico</p>
  <p>Densutrici&oacute;n / Sobrepeso / Obesidad</p>
  <p>Educaci&oacute;n Nutricional</p>
  <p>Etiquetado Nutricional</p>
  <p>Elaboraci&oacute; de men&uacute;s</p>
  <p>Enfermedades cardiovasculares</p>
  <p>Health Coaching</p>
</div>