<h1>Blog</h1>

<h2>Lorem Ipsum</h2>
<h4>Por Karina A - 15/2/2016</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod erat non posuere tempor. Vivamus vel nunc eget ligula placerat vulputate. Integer non tellus consequat, posuere lectus sed, vulputate velit. Duis vestibulum tempus nibh, elementum aliquam est semper non. Suspendisse dictum pulvinar felis, quis ornare orci imperdiet id. Maecenas egestas lacinia lacus, nec laoreet arcu commodo condimentum. Nam lacinia leo libero, non suscipit enim lacinia nec. Ut sed ex at sem varius dictum. Cras eu quam sit amet quam cursus consectetur in et orci. In nec nibh arcu.</p>

<p class="image-p"><img src="/assets/logo.png"></p>

<p>Aenean cursus elit ac facilisis interdum. Vivamus viverra tellus at lobortis hendrerit. Sed vitae erat vestibulum leo aliquet dictum quis id felis. Proin vestibulum libero pharetra lorem vestibulum ultrices. Sed maximus eu mauris id suscipit. Proin pellentesque purus nec fermentum imperdiet. Curabitur semper leo non posuere imperdiet. Suspendisse et orci auctor, accumsan sapien eu, scelerisque risus. Aenean ornare orci eu ipsum iaculis vehicula vestibulum id mi. Praesent sit amet mi congue, finibus justo vitae, vestibulum risus. Aliquam pharetra est vitae enim ultrices mattis. Proin nulla est, condimentum vel posuere vel, tincidunt eu augue.</p>

<p>Etiam suscipit faucibus dictum. Vestibulum venenatis vestibulum metus, quis convallis libero faucibus in. Cras vel ultricies ex. Donec convallis finibus lectus a cursus. Phasellus eros urna, rhoncus quis maximus ut, hendrerit at quam. Aliquam erat volutpat. Cras dictum rutrum suscipit. Suspendisse rhoncus augue sit amet quam imperdiet consequat. Donec posuere nulla et vulputate posuere.</p>


<h2>Lorem Ipsum</h2>
<h4>Por Karina A - 11/2/2016</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod erat non posuere tempor. Vivamus vel nunc eget ligula placerat vulputate. Integer non tellus consequat, posuere lectus sed, vulputate velit. Duis vestibulum tempus nibh, elementum aliquam est semper non. Suspendisse dictum pulvinar felis, quis ornare orci imperdiet id. Maecenas egestas lacinia lacus, nec laoreet arcu commodo condimentum. Nam lacinia leo libero, non suscipit enim lacinia nec. Ut sed ex at sem varius dictum. Cras eu quam sit amet quam cursus consectetur in et orci. In nec nibh arcu.</p>

<p>Aenean cursus elit ac facilisis interdum. Vivamus viverra tellus at lobortis hendrerit. Sed vitae erat vestibulum leo aliquet dictum quis id felis. Proin vestibulum libero pharetra lorem vestibulum ultrices. Sed maximus eu mauris id suscipit. Proin pellentesque purus nec fermentum imperdiet. Curabitur semper leo non posuere imperdiet. Suspendisse et orci auctor, accumsan sapien eu, scelerisque risus. Aenean ornare orci eu ipsum iaculis vehicula vestibulum id mi. Praesent sit amet mi congue, finibus justo vitae, vestibulum risus. Aliquam pharetra est vitae enim ultrices mattis. Proin nulla est, condimentum vel posuere vel, tincidunt eu augue.</p>

<p>Etiam suscipit faucibus dictum. Vestibulum venenatis vestibulum metus, quis convallis libero faucibus in. Cras vel ultricies ex. Donec convallis finibus lectus a cursus. Phasellus eros urna, rhoncus quis maximus ut, hendrerit at quam. Aliquam erat volutpat. Cras dictum rutrum suscipit. Suspendisse rhoncus augue sit amet quam imperdiet consequat. Donec posuere nulla et vulputate posuere.</p>