<div id="recipe-grid"></div>
<div id="recipe-overlay">
  <span id="close-recipe-overlay">x</span>

  <div class="recipe-image">
    <img>
  </div>

  <div class="recipe-text">
    <h1>Recipe Name</h1>

    <h3>Ingredientes</h3>
    <p class="ingredients"></p>

    <h3>Preparaci&oacute;n</h3>
    <p class="instructions"></p>

    <h3>Informaci&oacute;n Nutricional</h3>
    <p class="nutrition"></p>
  </div>
</div>