<div id="contact-info">
  <h3>Dra. en Nutrici&oacute;n y Health Coach</h3>
  <h2>Licenciada Karina Arr&aacute;zola C.</h2>
  <h5>C&oacute;digo Colegio de Nutricionistas #211-10</h5>

  <h4><em>TEL.</em></h4>
  <h4>8862-9240</h4>

  <h4><em>CORREO ELECTR&Oacute;NICO</em></h4>
  <h4>balanceforlifecr@gmail.com</h4>
</div>

<div id="contact-form">
  <form>
    <p><label for="contact-name">Nombre</label><input id="contact-name" type="text"></p>
    <p><label for="contact-lastname">Apellidos</label><input id="contact-lastname" type="text"></p>
    <p><label for="contact-email">Correo Electr&oacute;nico</label><input id="contact-email" type="text"></p>
    <p><label for="contact-message">Mensaje</label><textarea id="contact-message"></textarea></p>

    <span id="submit-contact" href="#">ENVIAR</span>
  </form>
</div>

<div id="contact-confirm">
  <p>TU MENSAJE HA SIDO ENVIADO.<span id="dismiss-contact-confirm">&times;</span></p>
  <p>ESTAREMOS EN CONTACTO CONTIGO!</p>
</div>